* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 9pt;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}