#FieldParent {

    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    position: relative;
    display: block;

    /*height: 100px;*/
}

#SolverContainer {
    display: flex;
    overflow-wrap: normal;
    /* 
	width: 100%;
    overflow-wrap: normal; */
    /*height: 10cm;*/
    width: 100%;
}

#allPages,
#allPages>div {
    width: 100%;
}

#main-element {
    flex-wrap: nowrap;
}

.SolverContainerBlock {
    display: block;
    max-height: 60vh;
    height: auto;
    width: 100%;
    overflow-y: auto;
}

#FieldBody>tr>td {
    height: 1px;
    width: 1px;
}

html,
body {
    overflow: auto;
    overflow-x: hidden;
}

#fpart2-3 {
    height: 100%;
}

body * {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: none;
}


@media (orientation: landscape) {
    #FieldParent {}
}

@media (orientation: portrait) {
    #FieldParent {
        max-height: 60vh;
    }
}

.ColorPanelLeft {
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid black;
}
.ColorPanelLeft>div {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}

.pen1 {
    background-color: red;
}
.pen2 {
    background-color: green;
}
.pen3 {
    background-color: blue;
}