* {
	font-size: 9pt;

	--cell-size: 16px;

	--color-orange: #FFAA00;
	--border-color: #444444;
}

#FieldParent {
	cursor: pointer;
	border: 1px solid var(--border-color);
	background-color: white;
	height: 100%;
	width: auto;
}

#work_bory2 {}

#FieldBody>tr>td>div {
	position: relative;
	display: block;
}

/*
#FieldBody>tr>td>div,
#FieldBody>tr>td>div>table:first-child {
	width: 100%;
	height: 100%;
}
*/

.suppTable tr {
	width: 1px;
	height: 1px;
}

#fpart1-2 tr:last-child {
	height: 0;
}

.suppTable td {
	text-align: center;
	border: 1px solid var(--border-color);
	height: var(--cell-size);
	min-width: var(--cell-size);
}

.suppTable td:empty {
	/*border: 0;*/
}

.suppTable td:not(:empty) {}

.suppTableBack {
	z-index: 40;
	position: absolute;
	top: 0;
}

#fpart1-2 .suppTableBack {
	width: 100%;
	height: calc(100% - 1px);
}

#fpart1-2 .suppTableBack {
	width: 100%;
	height: calc(100% - 1px);
}

#fpart2-1 .suppTableBack {
	width: calc(100% - 1px);
	height: 100%;
}

.suppTableBack td {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid transparent;
}

.suppTableBack td>div {
	outline: 2px solid transparent;
	height: 100%;
}

.backLightEnable {
	outline-color: #D5D5D5 !important;
}






#fpart1-2>table,
#fpart2-1>table,
#fpart2-2>table,
#fpart3-2>table,
#fpart2-3>table {
	border-collapse: collapse;
}

#fpart2-2,
#fpart2-2>table {
	width: 100%;
	height: 100%;
}

#fpart1-1,
#fpart1-2,
#fpart2-1,
#fpart2-3,
#fpart3-2,
#fpart1-3,
#fpart3-1,
#fpart3-3 {
	user-select: none;
}

#fpart1-1td {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 25;
	width: auto;
	height: 1px;
}

#fpart1-1 {
	background-color: white;
	font-size: 22.5pt;

	display: flex;
	justify-content: center;
	align-items: center;
	color: #333333;
	display: none;
	border: 1px solid var(--border-color);
	height: calc(100% - 2px);
	width: calc(100% - 2px);
}

#fpart1-2td {
	position: sticky;
	top: 0;
	z-index: 20;
	width: auto;
	height: auto;
}

#fpart1-2 {
	background-color: var(--color-orange);
}

#fpart1-2>table>tbody>tr>td:nth-child(5n),
#fpart1-2>table>tbody>tr>td:last-child {
	border-right-width: 2px;
}

#fpart1-2 .hSpacer {
	height: 0;
	padding: 0;
	border-right-width: 2px;
}

#fpart1-3 {
	width: var(--cell-size);
	height: calc(100% + 1px);
	background-color: var(--border-color);
	margin-bottom: -1px;
}

#fpart2-1td {
	position: sticky;
	left: 0;
	z-index: 20;
	width: auto;
	height: auto;
}

#fpart2-1 {
	height: 100%;
	width: 100%;
	background-color: var(--color-orange);
}

#fpart2-1>table>tbody>tr:nth-child(5n)>td,
#fpart2-1>table>tbody>tr:last-child>td {
	border-bottom-width: 2px;
}

#fpart2-1>table>tbody>tr:nth-child(5n)>td {
	border-bottom-width: 2px;
}

#fpart2-1 .vSpacer {
	min-width: 0;
	border-bottom-width: 2px;
}

#fpart2-2 {}

#fpart2-2 td {
	border: 1px solid var(--border-color);
	width: var(--cell-size);
	height: var(--cell-size);
	max-width: var(--cell-size);
	max-height: var(--cell-size);
}

#fpart2-2>table>tbody>tr:nth-child(5n)>td,
#fpart2-2>table>tbody>tr:last-child>td {
	border-bottom-width: 2px;
}

#fpart2-2>table>tbody>tr>td:nth-child(5n),
#fpart2-2>table>tbody>tr>td:last-child {
	border-right-width: 2px;
}

#fpart2-3 td {
	border-width: 1px 0px 1px 0px;
}

#fpart2-3>table>tbody>tr:nth-child(5n):not(:last-child)>td {
	border-bottom-width: 2px;
	border-bottom-color: var(--border-color);
}

.AxisDiv {}

.AxisDiv td {
	font-size: 10.25pt;
	font-weight: bold;
	text-align: center;
	border: solid transparent;
	height: var(--cell-size);
	width: var(--cell-size);
}

.AxisBright {
	opacity: 0.6;
}

#fpart3-1 {
	height: var(--cell-size);
	background-color: var(--border-color);
	margin-right: -1px;
}

#fpart3-2 {
	margin-right: 1px;
}

#fpart3-2 td {
	border-width: 0px 1px 0px 1px;
}

#fpart3-2>table>tbody>tr>td:nth-child(5n):not(:last-child) {
	border-right-width: 2px;
	border-right-color: var(--border-color);
}






#fpart2-2 td>p {
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
}

.s0>p {
	/*background-color: transparent;*/
}

.s1>p {
	background-image: url(../images/cross.png);
	background-size: var(--cell-size);
	background-origin: border-box;
	background-color: gray;
}

.s2>p {
	background-color: black;
}

.ColRowDone {
	background-color: #CCCCCC;
}

#tooltip {
	width: 0;
	height: 0;
	/*
	width: 1px;
	height: 1px;
	background-color: lime;*/
	position: absolute;
	pointer-events: none;
	user-select: none;
	visibility: hidden;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tooltip>.ttContainer {
	position: relative;
	height: 18px;
	width: max-content;
	font-size: 9.5pt;
	color: #333333;
	border: 1px solid black;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3px;
}

.ttEnabled {
	visibility: visible !important;
}

.ttState0>.ttContainer {
	background-color: white;
}

.ttState2>.ttContainer {
	background-color: #FFAA00;
}

.solverMenu1 {
	display: flex;
	flex-direction: row;
	padding: 4px;
	width: 100%;
	justify-content: center;
	gap: 0 4px;
}

.solverMenu3>* {
	font-size: 20pt;
	text-align: center;
}
